// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar {
    --background: #F4E45D;
  }
.menu-content {
    --background: #F4E45D;
  }

.lista-menu  {
    background: #F4E45D;
}

.lista-menu ion-item{
  --ion-background-color:#F4E45D;
  --color:  #F34396;
}