<ion-header>
    <ion-toolbar >   
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons> 
          <ion-title>
          <img src="/assets/img/favi.png" width="40px" style="display:inline-block" height="35px"/>
         <font color="#ffffff"> MÍDIAS SOCIAIS</font>
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list lines="none">

        <ion-item href="https://facebook.com/">
          <img src="/assets/img/face.png">
          <ion-label>@faceacebook</ion-label>
        </ion-item>
        <ion-item href="https://facebook.com/">
          <img src="/assets/img/insta.png">
          <ion-label>@instagram</ion-label>
        </ion-item>
        <ion-item href="https://facebook.com/">
          <img src="/assets/img/you.png">
          <ion-label>@youTube</ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
  