<ion-header>
    <ion-toolbar >   
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
              </ion-buttons> 
          <ion-title>
          <img src="/assets/img/favi.png" width="40px" style="display:inline-block" height="35px"/>
         <font color="#ffffff"> NOSSOS PLANOS</font>
        </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list lines="none">

        <ion-item >
          <img src="/assets/img/p1.png">
        </ion-item>
        <ion-item >
          <img src="/assets/img/p2.png">
        </ion-item>
        <ion-item >
          <img src="/assets/img/p3.png">
        </ion-item>
        <ion-item >
          <img src="/assets/img/p4.png">
        </ion-item>
      </ion-list>
  </ion-content>